{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "modules": false,
      "debug": true
    }]
  ],
  "comments": false,
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": [ "istanbul" , "transform-runtime"]
    }
  }
}
